{
    email {$ACME_EMAIL}
}

{$BACKEND_DOMAIN} {
    encode zstd gzip
    request_body {
        max_size 10MB
    }
    header X-Content-Type-Options nosniff
    handle_path /static/* {
        root * /srv/static
        file_server
    }
    handle_path /media/* {
        root * /srv/media
        file_server
    }
    handle {
        reverse_proxy web:8000 {
            header_up X-Forwarded-Proto {scheme}
        }
    }
}
